<!doctype html>
<!-- Colors Theme Version 4.5.4 -->
<!--[if IE 8]><html class="no-js ie9 lt-ie9" lang="{{ shop.locale }}"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  {% include 'styles' %}
  {% include 'metas' %}
  {% include 'javascript' %}
  {{ content_for_header }}
</head>

<body id="{{ page_title | handle }}" class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} no-outlines">
  <div class="main">
    <div class="layout">
      {{ content_for_layout }}
    </div>
  </div>
</body>
</html>
