{% if page_description contains 'tiger' %}
{% assign menu = linklists.save-tigers-menu %}
{% else %}
{% assign menu = linklists[section.settings.side_nav_linklist] %}
{% endif %}


{% unless menu.empty? %}{% include 'side-nav' %}{% endunless %}
{% include 'side-cart' %}
{% include 'search-overlay' %}

{% if section.settings.logo_max_width != blank %}
  {% assign logo_max_width = section.settings.logo_max_width | plus: 0 %}
  {% if logo_max_width > 2048 %}
    {% assign logo_max_width = 2048 %}
  {% endif %}
{% else %}
  {% assign logo_max_width = 150 %}
{% endif %}

<div class="header {% if section.settings.enable_sticky_header %}sticky{% endif %}" data-section-id="{{ section.id }}" data-section-type="header">
  {% if section.settings.enable_top_banner %}
    <div class="top-banner">
      {{ section.settings.top_banner_richtext }}
    </div>
  {% endif %}
  <div class="bar">
    <div class="left">
      {% unless menu.empty? %}
        <a href="#" data-action="toggle-browse"  tabindex="-1">
          <i class="fc fc-hamburguer"></i>
        </a>
      {% endunless %}
    </div>
    {% if page_description contains 'tiger' %}
    {% else %}


    <div class="right">
      <a class="icon-search" href="/search" data-action="toggle-search">
        <i class="fc fc-search"></i>
      </a>
      <a class="icon-cart" href="/cart" data-action="toggle-cart">
        <i class="fc fc-cart"></i>
        <span class="circle cart-count {% if cart.item_count == 0 %}hidden-count{% endif %}">{{ cart.item_count }}</span>
      </a>
      {% if settings.show_multiple_currencies %}
        {% include 'currency-picker' %}
      {% endif %}
    </div>
    {% endif %}

    {% if page_description contains 'tiger' %}
    <div class="center" itemscope itemtype="http://schema.org/Organization">
      <a class="logo" href="/" itemprop="url" tabindex="-1">
        <h1 class="logo">
          {% if section.settings.logo2 %}
            {% capture image_size %}{{ logo_max_width }}x{% endcapture %}
            <img src="{{ section.settings.logo2 | img_url: image_size }}"
                 srcset="{{ section.settings.logo2 | img_url: image_size }} 1x, {{ section.settings.logo2 | img_url: image_size, scale: 2 }} 2x"
                 alt="{{ section.settings.logo2.alt | default: 'MARIAMMA CHARITABLE TRUST' }}"
                 itemprop="logo">
          {% else %}
            {% if section.settings.use_uppercase %}
              <span>MARIAMMA CHARITABLE TRUST</span>
            {% else %}
              <span style="text-transform: none;">MARIAMMA CHARITABLE TRUST</span>
            {% endif %}
          {% endif %}
        </h1>
      </a>
    </div>
{% else %}

    <div class="center" itemscope itemtype="http://schema.org/Organization">
      <a class="logo" href="/" itemprop="url" tabindex="-1">
        <h1 class="logo">
          {% if section.settings.logo %}
            {% capture image_size %}{{ logo_max_width }}x{% endcapture %}
            <img src="{{ section.settings.logo | img_url: image_size }}"
                 srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                 alt="{{ section.settings.logo.alt | default: shop.name }}"
                 itemprop="logo">
          {% else %}
            {% if section.settings.use_uppercase %}
              <span>{{ shop.name | upcase }}</span>
            {% else %}
              <span style="text-transform: none;">{{ shop.name }}</span>
            {% endif %}
          {% endif %}
        </h1>
      </a>
    </div>
    {% endif %}
  </div>
  <div class="background"></div>
</div>

<style type="text/css">
  .header a.logo h1 img {
    width: {{ logo_max_width }}px;
  }
  .header.solid .fixed a.logo h1 img {
    {% assign logo_fixed_width = logo_max_width | divided_by: 2 %}
    {% if logo_fixed_width < 100 %}
      {% assign logo_fixed_width = logo_max_width %}
    {% endif %}
    width: {{ logo_fixed_width }}px;
  }
</style>

{% schema %}
{
  "name": "Header",
  "settings": [
      {
        "type": "link_list",
        "id": "side_nav_linklist",
        "label": "Main menu",
        "default": "main-menu"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "image_picker",
        "id": "logo2",
        "label": "Logo for Trust"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "150"
      },
      {
        "type": "checkbox",
        "id": "use_uppercase",
        "label": "Use uppercase in text logo",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_sticky_header",
        "label": "Enable sticky header",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_top_banner",
        "label": "Enable top banner",
        "default": false
      },
      {
        "type": "richtext",
        "id": "top_banner_richtext",
        "label": "Text",
        "default": "<p>Free Shipping and Returns above $100!</p>"
      }

  ]
}
{% endschema %}
