<script id="CartTemplate" type="text/template">
{% raw %}
  <form action="/cart" method="post" novalidate class="cart negative ajaxcart">
    <div class="items">
      {{#items}}
        <div class="item" data-line="{{ line }}">
          <div class="left">
            <a href="{{ url }}">
              <img src="{{ img }}"/>
            </a>
          </div>
          <div class="right">
            <a href="{{url}}" class="name">{{name}}</a>
            {{#if variation}}
              <div class="description">{{variation}}</div>
            {{/if}}
            {{#properties}}
              {{#each this}}
                {{#if this}}
                  <div class="description">{{@key}}: {{this}}</div>
                {{/if}}
              {{/each}}
            {{/properties}}

            <div class="quantity ajaxcart__qty">
              <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus" data-id="{{id}}" data-qty="{{itemMinus}}" data-line="{{line}}">−</button>
              <input type="text" name="updates[]" class="ajaxcart__qty-num" value="{{itemQty}}" min="0" data-id="{{id}}" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*">
              <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus icon-fallback-text" data-id="{{id}}" data-line="{{line}}" data-qty="{{itemAdd}}">+</button>
            </div>
          </div>
          <div class="price">
            <span class="money">{{{price}}}</span>
          </div>
          <a href="/cart/change?line={{line}}&amp;quantity=0" class="remove ajaxcart__remove" data-id="{{id}}" data-line="{{line}}">
            <i class="fc fc-close"></i>
          </a>
        </div>
      {{/items}}
      {% endraw %}{% if settings.cart_notes_enable %}{% raw %}
      <div class="instructions">
        <label for="CartSpecialInstructions">{% endraw %}{{ 'cart.general.note' | t }}{% raw %}</label>
        <textarea class="text" name="note" class="input-full" id="CartSpecialInstructions">{{ note }}</textarea>
      </div>
    {% endraw %}{% endif %}{% raw %}
    </div>
    <div class="more">
      <h3 class="row with-line">
        {% endraw %}{{ 'cart.general.subtotal' | t }}{% raw %}
        <span class="value money">{{{totalPrice}}}</span>
      </h3>
      <div class="row expanded">
        {% endraw %}{% if settings.show_multiple_currencies %}{% raw %}
          <h4>{% endraw %}{{ 'cart.general.currency_conversion_html' | t: name: shop.name, currency: shop.currency }}{% raw %}</h4>
        {% endraw %}{% endif %}{% raw %}
        <h4>{% endraw %}{{ 'cart.general.shipping_at_checkout' | t }}{% raw %}</h4>
      </div>
      <div class="row">
        <button type="submit" class="btn accent cart__checkout" name="checkout">
          {% endraw %}{{ 'cart.general.checkout_html' | t }}{% raw %}
        </button>
      </div>
      {% endraw %}{% if additional_checkout_buttons %}
        <div class="additional_checkout_buttons">{{ content_for_additional_checkout_buttons }}</div>
      {% endif %}{% raw %}
    </div>
  </form>
{% endraw %}
</script>

<script id="AjaxQty" type="text/template">
{% raw %}
  <div class="ajaxcart__qty">
    <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus icon-fallback-text" data-id="{{id}}" data-qty="{{itemMinus}}">
      <span class="icon icon-minus" aria-hidden="true"></span>
      <span class="fallback-text">&minus;</span>
    </button>
    <input type="text" class="ajaxcart__qty-num" value="{{itemQty}}" min="0" data-id="{{id}}" aria-label="quantity" pattern="[0-9]*">
    <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus icon-fallback-text" data-id="{{id}}" data-qty="{{itemAdd}}">
      <span class="icon icon-plus" aria-hidden="true"></span>
      <span class="fallback-text">+</span>
    </button>
  </div>
{% endraw %}
</script>

<script id="JsQty" type="text/template">
{% raw %}
  <div class="js-qty">
    <button type="button" class="js-qty__adjust js-qty__adjust--minus icon-fallback-text" data-id="{{id}}" data-qty="{{itemMinus}}">
      <span class="icon icon-minus" aria-hidden="true"></span>
      <span class="fallback-text">&minus;</span>
    </button>
    <input type="text" class="js-qty__num" value="{{itemQty}}" min="1" data-id="{{id}}" aria-label="quantity" pattern="[0-9]*" name="{{inputName}}" id="{{inputId}}">
    <button type="button" class="js-qty__adjust js-qty__adjust--plus icon-fallback-text" data-id="{{id}}" data-qty="{{itemAdd}}">
      <span class="icon icon-plus" aria-hidden="true"></span>
      <span class="fallback-text">+</span>
    </button>
  </div>
{% endraw %}
</script>