{% if collection.handle == 'all' %}
  {% assign collection_url = '/collections/all' %}
{% else %}
  {% assign collection_url = collection.url %}
{% endif %}

<div class="collection" data-collection-url="{{ collection_url }}" data-collection-id="{{ collection.id }}">
  <div class="inner">
    {% if section.settings.show_header %}
      <div class="collection-header">
        <div class="section">
          {% if collection.handle == 'all' %}
            <a href="/collections/all">
              <h2>{{ 'collections.general.catalog' | t }}</h2>
            </a>
          {% elsif template == 'index' %}
            <a href="{{ collection.url }}">
              <h2>{{ collection.title }}</h2>
            </a>
          {% else %}
            <a class="root" href="/collections">
              <h2>{{ 'collections.general.collections' | t }}</h2>
            </a>
            <h2 class="divider">/</h2>
            <h2>{{ collection.title }}</h2>
          {% endif %}
        </div>
        {% if collection.description != blank %}
          <div id="rte">
            {{ collection.description }}
          </div>
        {% endif %}
        {% include 'collection-categories' %}
      </div>
    {% endif %}
    {% include 'collection-products' %}
  </div>
</div>