{% assign connections_count = 0 %}
{% if settings.social_facebook_link != '' %}{% assign connections_count = connections_count | plus: 1 %}{% endif %}
{% if settings.social_twitter_link != '' %}{% assign connections_count = connections_count | plus: 1 %}{% endif %}
{% if settings.social_pinterest_link != '' %}{% assign connections_count = connections_count | plus: 1 %}{% endif %}
{% if settings.social_google_plus_link != '' %}{% assign connections_count = connections_count | plus: 1 %}{% endif %}
{% if settings.social_instagram_link != '' %}{% assign connections_count = connections_count | plus: 1 %}{% endif %}
{% if settings.social_linkedin_link != '' %}{% assign connections_count = connections_count | plus: 1 %}{% endif %}
{% if settings.social_flickr_link != '' %}{% assign connections_count = connections_count | plus: 1 %}{% endif %}
{% if settings.social_yelp_link != '' %}{% assign connections_count = connections_count | plus: 1 %}{% endif %}
{% if settings.social_vimeo_link != '' %}{% assign connections_count = connections_count | plus: 1 %}{% endif %}
{% if settings.social_youtube_link != '' %}{% assign connections_count = connections_count | plus: 1 %}{% endif %}
{% if settings.social_tumblr_link != '' %}{% assign connections_count = connections_count | plus: 1 %}{% endif %}

<h3>{{ title | t }}</h3>
<p class="connect">
  {% if connections_count > 0 %}
      {% if settings.social_facebook_link != '' %}<a href="{{ settings.social_facebook_link }}" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Facebook' }}"><i class="fc fc-facebook"></i></a>{% endif %}
      {% if settings.social_twitter_link != '' %}<a href="{{ settings.social_twitter_link }}" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Twitter' }}"><i class="fc fc-twitter"></i></a>{% endif %}
      {% if settings.social_pinterest_link != '' %}<a href="{{ settings.social_pinterest_link }}" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Pinterest' }}"><i class="fc fc-pinterest"></i></a>{% endif %}
      {% if settings.social_instagram_link != '' %}<a href="{{ settings.social_instagram_link }}" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Instagram' }}"><i class="fc fc-instagram"></i></a>{% endif %}
      {% if settings.social_google_plus_link != '' %}<a href="{{ settings.social_google_plus_link }}" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Google+' }}"><i class="fc fc-google"></i></a>{% endif %}
      {% if settings.social_youtube_link != '' %}<a href="{{ settings.social_youtube_link }}" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Youtube' }}"><i class="fc fc-youtube"></i></a>{% endif %}
      {% if settings.social_linkedin_link != '' %}<a href="{{ settings.social_linkedin_link }}" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Linkedin' }}"><i class="fc fc-linkedin"></i></a>{% endif %}
      {% if settings.social_flickr_link != '' %}<a href="{{ settings.social_flickr_link }}" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Flickr' }}"><i class="fc fc-flickr"></i></a>{% endif %}
      {% if settings.social_yelp_link != '' %}<a href="{{ settings.social_yelp_link }}" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Yelp' }}"><i class="fc fc-yelp"></i></a>{% endif %}
      {% if settings.social_vimeo_link != '' %}<a href="{{ settings.social_vimeo_link }}" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Vimeo' }}"><i class="fc fc-vimeo"></i></a>{% endif %}
      {% if settings.social_tumblr_link != '' %}<a href="{{ settings.social_tumblr_link }}" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Tumblr' }}"><i class="fc fc-tumblr"></i></a>{% endif %}
  {% else %}
      <a href="https://www.facebook.com/shopify" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Facebook' }}"><i class="fc fc-facebook"></i></a>
      <a href="https://twitter.com/shopify" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Twitter' }}"><i class="fc fc-twitter"></i></a>
      <a href="https://pinterest.com/shopify" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Pinterest' }}"><i class="fc fc-pinterest"></i></a>
      <a href="https://instagram.com/shopify" target="_blank" title="{{ 'layout.footer.platform' | t: name: shop.name, platform: 'Instagram' }}"><i class="fc fc-instagram"></i></a>
  {% endif %}
</p>