<div class="item row">
  <div class="left">
    <img src="{{ item | img_url: '160x160' }}"  alt="{{ item.title | escape }}" />
  </div>
  <div class="right">
    <div class="product">
      <span class="title">{{ item.product.title }}</span> 
      <span class="subtitle">
        {% unless item.variant.title contains 'Default' %}
          {{ item.variant.title }},
        {% endunless %}
        <span class="money">{{ item.price | money }}</span>
      </span> 
    </div>
    <span class="price"><span class="money">{{ item.line_price | money }}</span></span>
    <div class="select">
      <select name="updates[]" id="updates_{{ item.id }}" data-action="update-cart">
        {% for i in (1..50) %}
          <option value="{{ i }}"{% if i == item.quantity %} selected="selected"{% endif %}>{{ i }}</option>
        {% endfor %}
      </select>
      <div class="arrow">
        <i class="fa fa-chevron-down fa-lg"></i>
      </div>
    </div>
  </div>
  <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" data-action="remove" class="remove">
    <i class="fa fa-times"></i>
  </a>
</div>