<!-- /templates/page.liquid -->
{% assign flying_stuff = 'giphy.gif,giphy1.gif,giphy2.gif,giphy3.gif,giphy4.gif,giphy5.gif' | split:',' %}
{% capture index %}{{ 'now' | date: '%S' | truncate: 1, '' }}{% endcapture %}
{% assign flying_whoo = index | plus: 0 %}

<style>

    .giphl {
      background-image: url('{{ flying_stuff[flying_whoo] | asset_img_url }}');
    }

    .top-3 {
      top:3.25rem
    }
    .left-center {
      left: 50%;
      transform: translateX(-50%);
    }

    @media screen and (min-width: 60em) {
      .left-14-l {
        left:14rem
      }
    }

    .bottom-5 {
      bottom:5rem
    }

</style>
</div>

<div class="grid giphl absolute absolute--fill bg-black overflow-scroll">
  <div class="absolute absolute--fill bg-black-70 overflow-scroll">

      <a href="/collections/smokey-tees/products/another-t-shirt" itemprop="url" class="site-header__logo-link{% if settings.logo_use_inverted %} logo--has-inverted{% endif %} fixed left-center top-3 left-14-l">
      <img src="{{ 'housey.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo" class='fader'>
    </a>

  <div class="grid__item large--five-sixths push--large--one-twelfth mt6">

    <header class="section-header text-center white">
      <h1 class='tracked-mega'>{{ page.title }}</h1>
    </header>

    <div class="grid center">
      <div class="grid__item large--four-fifths push--large--one-tenth">
        <div class="rte rte--nomargin rte--indented-images center white measure-wide lh-copy">
          {{ page.content }}
        </div>
      </div>
    </div>
</div>
<div class='bg-black dib w-100 mt6'>
  <p class='tc pa4 tracked-mega'><a href='https://www.instagram.com/treehouseclothing' target="_blank" class='gray'>
    FOLLOW US ON INSTAGRAM</a>
  </p>
</div>
</div>
</div>
