<!-- /templates/page.liquid -->
{% assign flying_stuff = 'giphy.gif,giphy1.gif,giphy2.gif,giphy3.gif,giphy4.gif,giphy5.gif' | split:',' %}
{% capture index %}{{ 'now' | date: '%S' | truncate: 1, '' }}{% endcapture %}
{% assign flying_whoo = index | plus: 0 %}

<style>

    .giphl {
      background-image: url('{{ flying_stuff[flying_whoo] | asset_img_url }}');
    }

    .top-3 {
      top:3.25rem
    }
    .left-center {
      left: 10%;

    }

    @media screen and (min-width: 60em) {
      .left-14-l {
        left:10rem
      }
    }

    .bottom-5 {
      bottom:5rem
    }

    .lh-copyPlus {
      line-height: 1.7em;
    }

    .smallText {
      font-size: 14px;
    }

</style>
</div>

<div class="grid giphl absolute absolute--fill bg-black overflow-scroll">
  <div class="absolute absolute--fill bg-black-70 overflow-scroll">
<div class='relative'>
      <a href="/collections/thc/products/classic" itemprop="url" class="site-header__logo-link{% if settings.logo_use_inverted %} logo--has-inverted{% endif %} absolute left-center top-3 left-14-l">
      <img src="{{ 'housey.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo" class='fader' height='40px'>
    </a>
</div>
  <div class="grid__item large--five-sixths push--large--one-twelfth mt6">

    <header class="section-header text-center white">
      <h1 class='tracked-mega f4'>{{ page.title }}</h1>
    </header>

    <div class="grid center mb6-ns mb5">
      <div class="grid__item large--four-fifths push--large--one-tenth">
        <div class="rte rte--nomargin rte--indented-images center white measure-wide tracked o-70 lh-copyPlus smallText ph4">
          {{ page.content }}
        </div>
      </div>
    </div>
</div>
<div class='bg-black dt w-100 tc'>
  <p class='pa4 tracked-mega dtc vmid'><a href='https://www.instagram.com/treehouseclothing' target="_blank" class='gray hover-white'>
    FOLLOW US ON INSTAGRAM</a>
  </p>
</div>
</div>
</div>
