<!-- /templates/product.liquid -->
<style>
/*swing animation only on large screens*/
@media screen and (min-width: 60em) {

  @-webkit-keyframes swinging{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(5deg);}
    50%{transform: rotate(-5deg)}
    100%{transform: rotate(0deg);}
  }

  @keyframes swinging{
      0%{transform: rotate(0deg);}
      25%{transform: rotate(5deg);}
      50%{transform: rotate(-5deg)}
      100%{transform: rotate(0deg);}
  }

  .swingimage {
      -webkit-transform-origin: 50% 0;
      transform-origin: 50% 0;
      -webkit-animation: swinging 3.5s ease-in-out forwards 1;
      animation: swinging 3.5s ease-in-out forwards 1;
  }

}

  /*jiggle animation on small screens */

@media screen and (max-width: 60em) {
    #product-single__photo {
      -webkit-animation: swing 0.6s forwards;
      animation: swing 0.6s forwards;
    }

    @-webkit-keyframes swing {
  	25% {
  		-webkit-transform: rotate3d(0, 0, 1, 6deg);
  		transform: rotate3d(0, 0, 1, 6deg);
  	}

  	50% {
  		-webkit-transform: rotate3d(0, 0, 1, -4deg);
  		transform: rotate3d(0, 0, 1, -4deg);
  	}

  	75% {
  		-webkit-transform: rotate3d(0, 0, 1, 2deg);
  		transform: rotate3d(0, 0, 1, 2deg);
  	}

  	100% {
  		-webkit-transform: rotate3d(0, 0, 1, 0deg);
  		transform: rotate3d(0, 0, 1, 0deg);
  	}
  }

  @keyframes swing {
    25% {
  		-webkit-transform: rotate3d(0, 0, 1, 6deg);
  		transform: rotate3d(0, 0, 1, 6deg);
  	}

  	50% {
  		-webkit-transform: rotate3d(0, 0, 1, -4deg);
  		transform: rotate3d(0, 0, 1, -4deg);
  	}

  	75% {
  		-webkit-transform: rotate3d(0, 0, 1, 2deg);
  		transform: rotate3d(0, 0, 1, 2deg);
  	}

  	100% {
  		-webkit-transform: rotate3d(0, 0, 1, 0deg);
  		transform: rotate3d(0, 0, 1, 0deg);
  	}
  }
}

/*cursors and placemnets tweaks that only apply to this page*/

.retrograde {
    cursor: url({{ 'arrow-left.svg' | asset_url }}), w-resize;
}

.anterograde {
  cursor: url( {{ 'arrow-right.svg' | asset_url }}), e-resize;
}

.product-single__photo {
  cursor: url( {{ 'info.svg' | asset_url }}), pointer;
}

.product-single {
  background-image: url("{{ product.featured_image.src | img_url: 'grande' }}");
}

.b--line-gray {
  border-color: #D0D0D0;
}

.left50 {
  left: 50%;
}

.left-25ish {
  left: 2.7rem;
}

.pt15ish {
  padding-top: .35rem
}

.closeCircle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.justRightHeight {
  position: relative;
  top:5px;
  left: 5px;
}

.closeModal:hover,
.closeModal:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#flipButton {
  cursor: url( {{ '360.png' | asset_url }}), s-resize;
}

.hLine {
  height: 145px;
}

.tinyText {
  font-size: 11px;
}

.tracked-mega-mega {
  letter-spacing: .9em;
}

</style>

</div>

  <div class='bl-l b--line-gray absolute dn hLine top-0 left50' id='string'>
</div>

<div class='tc'>
  <div class='dib'>
<div itemscope itemtype="http://schema.org/Product" class='dt mt4 mt0-l'>
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
  {% if collection.previous_product %}

      <a href="{{collection.previous_product}}" class='w-30-l dtc-l dn w-20 v-mid tc retrograde'>
        <img src={{ 'leftChevron.svg' | asset_url }} class='dn-l' />
      </a>

      {% else %}

      <a href="https://treehouse-11.myshopify.com/collections/thc/products/rhino" class='w-30-l dtc-l dn v-mid tc retrograde'>
        <img src={{ 'leftChevron.svg' | asset_url }} class='dn-l' />
      </a>

{% endif %}

  {% assign current_variant = product.selected_or_first_available_variant %}
  <div class="product-single product-single__photo dtc contain bg-center " id="product-single__photo">

      <div class="product-single__photos dtc v-btm ">
        {% assign featured_image = current_variant.featured_image | default: product.featured_image %}

        {% for image in product.images %}
          {% unless image contains featured_image %}
            <div class="product-single__photo-wrapper" id='tshirtBox'>
              <img class="product-single__photo" src="{{ image.src | img_url: 'grande' }}" {% if settings.product_zoom_enable %}data-mfp-src="{{ image.src | img_url: '1024x1024' }}"{% endif %} alt="{{ image.alt | escape }}" data-image-id="{{ image.id }}" style='visibility: hidden;' id='backside' >
            </div>
          {% endunless %}
        {% endfor %}
      </div>
    </div>

    {% if collection.next_product %}

    <a href="{{ collection.next_product }}" class='w-30-l dtc-l dn v-mid tc anterograde' min-height='20px' >
      <img src={{ 'rightChevron.svg' | asset_url }} class='dn-l' />
    </a>

        {% else %}

        <a href="https://treehouse-11.myshopify.com/collections/thc/products/skunk" class='w-30-l dtc-l dn v-mid tc anterograde' min-height='20px' >
          <img src={{ 'rightChevron.svg' | asset_url }} class='dn-l' />
        </a>

    {% endif %}

    <div id="myModal" class='dn absolute absolute--fill bg-black-40 z-9 overflow-auto z-1'>
    <div class="grid__item product-single__meta--wrapper medium--five-twelfths large--five-twelfths bg-white absolute--fill w-40-ns absolute center left-0 right-0 mv6-ns">
      <span class="closeModal white fr relative-ns db left-25ish bottom-1 mt4 mt0-ns">
        <div class="icon-fallback-text closeCircle bg-black pt15ish tc">
          <span class="icon icon-x dib"></span>
          <span class="fallback-text">Close</span>
        </div>
      </span>

      <div class="product-single__meta mt6 mt0-ns">
        {% if settings.product_vendor_enable %}
          <h2 class="product-single__vendor" itemprop="brand">{{ product.vendor }}</h2>
        {% endif %}

        <h1 class="product-single__title tc pv3 tracked-mega-mega b" itemprop="name">{{ product.title | upcase }}</h1>
        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          {% if product.compare_at_price_max > product.price %}
            <span id="PriceA11y" class="visually-hidden ">{{ 'products.general.regular_price' | t }}</span>
            <span class="product-single__price--wrapper">
              <span id="ComparePrice" class="product-single__price--compare-at">
                {% if current_variant.compare_at_price > current_variant.price %}
                  {{ current_variant.compare_at_price | money }}
                {% endif %}
              </span>
            </span>
            <span id="ComparePriceA11y" class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
          {% else %}
            <span id="PriceA11y" class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
          {% endif %}

          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

          <div class="product-single__description rte tracked tc" itemprop="description">
            {{ product.description | upcase }}
          </div>
        <div>
          <span id="ProductPrice" class="product-single__price{% if product.compare_at_price > product.price %} on-sale{% endif %} pb3 db tracked-mega-mega f6 tc pv3" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
            {{ current_variant.price | money }}
          </span>
          <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-single__form mv4 tc" id="AddToCartForm">

            <div class='dib-l db mr5-l tinyText'>
              <select name="id" id="ProductSelect" class="product-single__variants">
                {% for variant in product.variants %}
                  {% if variant.available %}
                    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                  {% else %}
                    <option disabled="disabled">
                      {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                    </option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>

            <div class="product-single__add-to-cart dib">
              <button type="submit" name="add" id="AddToCart" class="btn mt2 mt0-ns">
                <span id="AddToCartText" class='tinyText'>{{ 'products.product.add_to_cart' | t }}</span>
              </button>
            </div>

          </form>
          </div>

        </div>
        {% if settings.social_sharing_products %}
          {% include 'social-sharing' %}
        {% endif %}
  </div>
  </div>
</div>
  </div>
  </div>
  </div>

  <div class='db'>
    <div class="dt h3 fixed bottom-0 w-100 z-0 pt4 center">
    <div class='dtc v-mid tc'>
      {% if collection.previous_product %}
          <a href="{{collection.previous_product}}" class='dtc w-33 v-mid tc retrograde'>
            <img src={{ 'leftArrow.svg' | asset_url }} class='dn-l' height='30px' />
          </a>
        {% else %}
          <a href="https://treehouse-11.myshopify.com/collections/thc/products/rhino" class='dn-l dtc w-33 v-mid tc retrograde'>
            <img src={{ 'leftArrow.svg' | asset_url }} class='dn-l' height='30px' />
          </a>
    {% endif %}
    </div>
    <div id='flipButton' class='dtc v-mid tc'>
      {{'360.png' | asset_url | img_tag: 'rotate image' , 'fader' }}
    </div>
    <div class='dtc v-mid tc'>
      {% if collection.next_product %}
        <a href="{{ collection.next_product }}" class='dtc w-33 v-mid tc anterograde'  >
          <img src={{ 'rightArrow.svg' | asset_url }} class='dn-l' height='30px' />
        </a>
      {% else %}
        <a href="https://treehouse-11.myshopify.com/collections/thc/products/skunk" class='dn-l dtc w-33 v-mid tc anterograde' >
          <img src={{ 'rightArrow.svg' | asset_url }} class='dn-l' height='30px' />
        </a>
      {% endif %}
    </div>
    </div>
  </div>
</div>
<div>

{% comment %}

  if you want radio inputs for
  color and size variants, change the liquid asset tag below from:

  {{ 'option_selection.js' | shopify_asset_url | script_tag }}

  to

    {{ 'variant_selection.js' | asset_url | script_tag }}


  You can also change `.radio-wrapper` to `.selector-wrapper`, If you want the labels for the dropdowns to appear outside the dropdown.

{% endcomment %}

<!-- {{ 'variant_selection.js' | asset_url | script_tag }} -->
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>

var backside = document.getElementById('backside');
var frontside = document.getElementById('product-single__photo');

$(window).load(function() {
    $('#string').removeClass('dn');
    $('#string').addClass('swingimage');
    $('#product-single__photo').addClass('swingimage');
  });

var flipp = document.getElementById('flipButton');

// Get the <span> element that closes the modal
// var span = document.getElementsByClassName("closeModal")[0];
// When the user clicks on the button, open the modal
flipp.onclick = function() {
  if (backside.style.visibility == "visible")
   {
      backside.style.visibility = "hidden";
      frontside.style.backgroundImage = 'url("{{ product.featured_image.src | img_url: 'grande' }}")';
   }
   else
   {
       backside.style.visibility = "visible";
       frontside.style.backgroundImage = "none";
   }
}


  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector,
      translations: {
        addToCart : {{ 'products.product.add_to_cart' | t | json }},
        soldOut : {{ 'products.product.sold_out' | t | json }},
        unavailable : {{ 'products.product.unavailable' | t | json }}
      }
    });
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('ProductSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.radio-wrapper:eq(0)').prepend('<label for="ProductSelect-option-0" class="single-option-radio__label">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide drop-down selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });


  // modal

  // Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById('product-single__photo');

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("closeModal")[0];

// var cartDrawer = document.getElementById("AddToCartText");

// When the user clicks on the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks on <span> (x), close the modal
// cartDrawer.onclick = function() {
//     modal.style.visibility = "hidden";
// }

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
